.DrinkDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3vmin;
  font-size: 2vmin;
  color: var(--text-light);
  max-height: 80vmin;
}

.DrinkDetail .section-heading {
  width: 100%;
}

.DrinkDetail .line-item-container {
  margin-top: 3vmin;
  justify-content: flex-start;
  height: calc(100vh - 18vmin);
  width: 100%;
}

.DrinkDetail .total {
  width: 100%;
  display: grid;
  grid-template-columns: 18.35vw 5.75vw 5.25vw;
  padding: 1vmin 0;
  color: var(--text-light);
  border-top: 0.1vmin solid var(--tan-3);
}

.DrinkDetail .total span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: var(--text-dark);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Ensure buttons stretch across the width */
  margin-top: auto; /* Push buttons to the bottom */
  padding-top: 1vmin; /* Add a bit of space above the buttons */
}