.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 2vmin;
    margin-bottom: 2vmin;
  }
  
  .navbar-link {
    font-size: 2vmin;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--text-light);
    text-decoration: none;
    border: none;
    background-color: var(--white);
    border-radius: 0.5rem;
  }
  
  .navbar-user {
    color: green;
    font-size: 2vmin;
  }
